{% extends 'base.html' %}
{% import 'account_inputs/macros.html' as macros %}
{% set active_page = active_page|default('add_transaction_view') %}

{% block content %}
<div class="container my-4">
  {% block endpoint %}
  <form action="{{ url_for('add_transaction_form') }}" method="post" class="form-account">
  {% endblock endpoint %}
    {% block page_title %}
    <h3>Add Transaction</h3>
    {% endblock page_title %}
        <!-- Grid row -->
        <div class="form-row">
          <!-- Grid column -->
          {{ macros.account_names(accounts) }}
          <!-- Grid column -->
    
          <!-- Grid column -->
          {% include 'account_inputs/transaction_amount.html' %}
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
        <!-- Grid row -->
        <div class="form-row">
          <!-- Grid column -->
          <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group form-account">
              <label for="comment">Comment</label>
              <input type="text" class="form-control" id="comment" name="comment">
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <br />
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
      </form>
      <!-- Extended material form grid -->

</div>
{% endblock content %}
