{% extends 'base.html' %}
{% set active_page = 'transfer_view' %}

{% block content %}
<div class="container my-4">
  <form action="{{ url_for('transfer_form') }}" method="post" class="form-transfer">
        <!-- Grid row -->
        <div class="form-row">
          <!-- Grid column -->
          <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group form-transfer">
              <label for="from_account_id">From Account</label>
              <select class="form-control" name="from_account_id" id="from_account_id">
                {% for account in accounts %}
                <option value="{{ account.account_id }}">{{ account.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!-- Grid column -->
          
          <!-- Grid column -->
          <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group form-transfer">
              <label for="to_account_id">From Account</label>
              <select class="form-control" name="to_account_id" id="to_account_id">
                {% for account in accounts %}
                <option value="{{ account.account_id }}">{{ account.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group form-transfer">
              <label for="amount">Amount</label>
              <input class="form-control" type="number" name="amount" id="amount" required >
            </div>
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->

        <br />
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
      </form>
      <!-- Extended material form grid -->

</div>
{% endblock content %}
