{% extends 'base.html' %}
{% import 'account_inputs/macros.html' as macros %}
{% set active_page = 'transfer_view' %}

{% block content %}
<div class="container my-4">
  <form action="{{ url_for('transfer_form') }}" method="post" class="form-account">
        <!-- Grid row -->
        <div class="form-row">
          <!-- Grid column -->
          {{ macros.account_names(accounts, input_id='from_account_id', input_label='From Account') }}
          <!-- Grid column -->
          
          <!-- Grid column -->
          <!-- Grid column -->
          {{ macros.account_names(accounts, input_id='to_account_id', input_label='To Account') }}
          <!-- Grid column -->
          <!-- Grid column -->
    
          <!-- Grid column -->
          {% include 'account_inputs/transaction_amount.html' %}
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->

        <br />
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
      </form>
      <!-- Extended material form grid -->

</div>
{% endblock content %}
