{% extends 'base.html' %}
{% import 'account_inputs/macros.html' as macros %}
{% set active_page = active_page|default('modify_account_view' ) %}

{% block content %}
<div class="container my-4">
    <form action="{{ url_for('update_account_form') }}" method="post" class="form-account">
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            {{ macros.account_names(accounts) }}
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group form-account">
                <label for="budgeted_amount">Budgeted Amount</label>
                <input class="form-control" type="number" name="budgeted_amount" id="budgeted_amount" required >
              </div>
            </div>
            <!-- Grid column -->
     
          </div>
          <!-- Grid row -->
  
          <br />
          <button type="submit" class="btn btn-primary btn-md">Submit</button>
        </form>
        <!-- Extended material form grid -->
  
  </div>
{% endblock content %}